/* ExtraLight */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
/* Remove default margin, padding, and set box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styling */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* tring  */
.banner {
  color: white;
  background-size: cover;
  background-position: center center;
  margin-top: 50px;
}

.banner-contents {
  padding: 5% 5%;
}

.banner-title {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
}

.banner-description {
  width: 100%;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 600;
}

.inner-search-form {
  position: relative;
}

.input-text {
  width: 100%;
  height: 46px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.input-submit {
  font: inherit;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  height: 46px;
  padding: 10px 26px;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
  position: absolute;
  right: -1px;
}
